.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-item{
    display: flex;
  }
  

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }