*{
    margin: auto;
    padding: 0;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
}
.nav-item{
    display: inline;
    font-weight: bold;
    color: rgb(75, 70, 70);
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px;
}
.nav-item:hover{
    color: skyblue;
}       
.item-wrapper{
    position: relative;
    left: 4%;
}
.btn:hover{
    width: 95px;
    height: 35px;
    border-color: rgb(255, 17, 96);
    color: rgb(255, 17, 96);
    border-radius: 17px "hsl(0, 100%, 50%)";
    background-color: transparent;
}
.btn{
    width: 95px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
    background-color: rgb(255, 17, 96);
    border-radius: 17px;
    border-color: rgb(255, 17, 96);
    color: white;
}
.btn-btn{
    width: 200px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
    background-color: lightskyblue;
    border-radius: 17px;
    border-color: lightskyblue;
    color: white; 
}
.btn-btn:hover{
    width: 200px;
    height: 35px;
    border-color: lightskyblue;
    color: lightskyblue;
    border-radius: 17px;
    background-color: transparent;
}
.dropdown{
    position: relative;
    display: inline-block;
    padding: 18px;
}
.dropbtn{
    background-color: white;
    color: rgb(75,70,70);
    font-weight: bold;
    border: none;
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropdown-content{
    position: absolute;
    display: none;
    color: skyblue;
    min-width: 160px;
    box-shadow: 0px 18px 16px 0px rgba(red);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(88, 194, 236);
    padding: 14px 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    display: block;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}
.dropdown-content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
    background-color:white
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: skyblue;
}
.bi-chevron-down{
    position: relative;
    left: 10px;
    top: 2px;
}
.dropdown-content hr{
    color: lightskyblue;
}
