 <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
       <ul class="navbar-nav">
          <div class="image-card">
              <img class="logo" [src]="logoimg" width="100px" height="45px">
           </div>

          <div class="item-wrapper">
             <div class="collapse navbar-collapse" id="navbar">

              <div class="dropdown">
                <button onclick="goHome()" class="dropbtn">HOME<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" fill="currentColor" class="bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg></button>
                <div id="myDropdown" class="dropdown-content">
                  <a routerLink="/">TESTIMONIALS</a>
                </div>
              </div>

              <div class="dropdown" >
                <button onclick="goToProduct()" class="dropbtn">PRODUCTS<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" fill="currentColor" class="bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg></button>
                 <div id="myDropdown" class="dropdown-content">
                     <a routerlink="/"> GOSHRMS </a><hr>
                     <a routerlink="/"> GOSFR </a><hr>
                     <a routerlink="/"> GOSRMS </a><hr>
                     <a routerlink="/"> GOSERP </a><hr>
                 </div>
               </div>

               <li class="nav-item">
                     <a class="nav-link" routerlink="active">HOSTING & DOMAIN</a>
               </li>
               <li class="nav-item">
                     <a class="nav-link" routerlink="/">CONTACT</a>
               </li>
               <li class="nav-item">
                     <a class="nav-link" routerink="/">BLOG</a>
                </li>
             <li class="nav-item">
            <button class="btn">
            <a class="nav-link" routerlink="/">SIGN IN</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn-btn">
            <a class="nav-link" routerlink="/">PARTNER'S PORTALS</a>
            </button>
          </li>
        </div>
       </div>
     </ul>
    </div>
  </nav>
 
