<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
        <div class="image-card">
            <img class="logo" src="assets/images/GODP-logo.svg" width="70px" height="40px">
        </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto">
            
            <div class="menu-group">
                <p class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     Action
                </p>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">HOME</a></li>
                <li><a class="dropdown-item" href="#">TESTIMONIAL</a></li>
                </ul>
            </div>
          
            <div class="menu-group2">
                <p class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                </p>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PRODUCT</a></li>
                <li><a class="dropdown-item" href="#">GOSRMS</a></li>
                <li><a class="dropdown-item" href="#">GOSFR</a></li>
                <li><a class="dropdown-item" href="#">GOSHRM</a></li>
                <li><a class="dropdown-item" href="#">GOSERM</a></li>
               </ul>
            </div>

          <li class="nav-item">
            <a class="nav-link" routerlink="/" target="_blank">HOSTING & DOMAIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerlink="/" target="_blank">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">BLOG</a>
          </li>
          <li class="nav-item">
            <button class="btn">
            <a class="nav-link" routerlink="/">SIGN IN</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn-1">
            <a class="nav-link" routerlink="/">PARTNER'S PORTALS</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
